<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="{{page.description}}">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

<title>{{ page.title }}</title>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66643555-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Microservices-Buch</h1>
          <h2 id="project_tagline">Grundlagen flexibler Softwarearchitekturen</h2>

      <section id="links">
        <a href="index.html">Home</a>
        <a href="ueberblick.html">KOSTENLOSER Überblick</a>
        <a href="http://microservices-book.com">English</a>
        <a href="klappentext.html">Inhalt</a>
        <a href="errata.html">Errata</a>
        <a href="kaufen.html">Kaufen</a>
        <a href="links.html">Links</a>
      </section>
      
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Copyright Eberhard Wolff</p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
